.Input__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.Input__label {
  display: flex;
  margin-right: 1rem;
  color: var(--colors-foreground);
  font-size: 14px;
  font-weight: 600;
  padding-left: 8px;
}
.Input__input {
  display: flex;
  border: 1px solid var(--colors-accent);
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  border-radius: 5px;
  min-width: 0;
}
